<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org/" class = "html">
<head>
    <link type="text/css" href="css/index.css" rel="stylesheet" />
</head>
<body class = "html">
<div class="container">
    <video autoplay muted loop class="Background">
        <source src="Background.mp4" type="video/mp4">
    </video>
    <div class="overlay">
        <h1 class = "h1">Lyrical</h1>
        <form th:action="@{/results}" method = "post">
            <input maxlength="100" minlength="3" autocomplete="off" class="searchbox" placeholder="Enter a song or artist" type="text" name="searchTerm" id="searchTerm" required>
            <input type="image" name="submit" src="search.png" class = "search-submit"/>
        </form>

        <div class="signintooltip">
            <button class = "signin" onclick="openForm()"><img border="0" alt="Sign-In" src="log-in.png" class = "signinimage"></button>
            <span class="signintooltiptext">Log in here!</span>
        </div>

        <div class="form-popup" id="myForm">
            <form method="post" class="form-container">
                <img border="0" src="exit.png" onclick="closeForm()" class = "exit"><h1>Login</h1>


                <label th:for="username"><b>Username</b></label>
                <div>
                    <input type ="text" th:field="${loginFormDTO.username}" placeholder="Enter Username"  id="loginuser" required >
                    <p class="error" th:errors="${loginFormDTO.username}"></p>
                </div>

                <label th:for="password"><b>Password</b></label>
                <div>
                    <input th:field="${loginFormDTO.password}"type="password" placeholder="Enter Password" id ="loginpass"required>
                    <p class="errorp" th:errors="${loginFormDTO.password}"></p>
                </div>
                <button class="btn" onclick="sendLoginForm()">Login</button>
            </form>
        </div>

        <div class="signuptooltip">
            <a href = "/register" class = "signup"><img border="0" alt="Sign-Up" src="signup.png" class = "signupimage"></a>
            <span class="signuptooltiptext">Sign up here!</span>
        </div>

        <div class="logouttooltip">
            <a href="/logout" class = "logout"><img border="0" alt="Logout" src='logout.png' class = "logouticon"></a>
            <span class="logouttooltiptext">Log out here!</span>
        </div>

        </form>
    </div>
</div>
</div>
<script>

window.onload = document.getElementById("myForm").style.display = "block";

function openForm(){
    window.onload = document.getElementById("myForm").style.display = "block";
}
function closeForm() {
    document.getElementById("myForm").style.display = "none";
}

</script>
</body>
</html>